.flexContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #FFF;
  }
  
  
  .flexContainer > div {
    background-color: #f1f1f1;
    margin: 10px;
    width: 800px;
    font-size: 30px;
  }